# Simpson's Paradox
Use `admission_data.csv` for this exercise.

In [1]:
# Load and view first few lines of dataset
import pandas as pd
df = pd.read_csv('admission_data.csv')

In [2]:
df.head()

   student_id  gender      major  admitted
0       35377  female  Chemistry     False
1       56105    male    Physics      True
2       31441  female  Chemistry     False
3       51765    male    Physics      True
4       53714  female    Physics      True

### Proportion and admission rate for each gender

In [9]:
df.shape

(500, 4)

In [8]:
# Proportion of students that are female
df.groupby('gender').count()

        student_id  major  admitted
gender
female         257    257       257
male           243    243       243

In [10]:
257/500

0.514

In [11]:
# Proportion of students that are male
243/500

0.486

In [15]:
# Admission rate for females
df[df['gender'] == 'female'].groupby('admitted').count()

          student_id  gender  major
admitted
False            183     183    183
True              74      74     74

In [18]:
74/257

0.28793774319066145

In [17]:
# Admission rate for males
df[df['gender'] == 'male'].groupby('admitted').count()

          student_id  gender  major
admitted
False            125     125    125
True             118     118    118

In [19]:
118/243

0.48559670781893005

### Proportion and admission rate for physics majors of each gender

In [20]:
# What proportion of female students are majoring in physics?
df[df['gender'] == 'female'].groupby('major').count()

           student_id  gender  admitted
major
Chemistry         226     226       226
Physics            31      31        31

In [21]:
31/257

0.12062256809338522

In [22]:
# What proportion of male students are majoring in physics?
df[df['gender'] == 'male'].groupby('major').count()

           student_id  gender  admitted
major
Chemistry          18      18        18
Physics           225     225       225

In [23]:
225/243

0.9259259259259259

In [29]:
# Admission rate for female physics majors
df[(df['gender'] == 'female') & (df['major'] == 'Physics')].groupby('admitted').count()

          student_id  gender  major
admitted
False              8       8      8
True              23      23     23

In [30]:
23/31

0.7419354838709677

In [31]:
# Admission rate for male physics majors
df[(df['gender'] == 'male') & (df['major'] == 'Physics')].groupby('admitted').count()

          student_id  gender  major
admitted
False            109     109    109
True             116     116    116

In [32]:
116/257

0.45136186770428016

### Proportion and admission rate for chemistry majors of each gender

In [34]:
# What proportion of female students are majoring in chemistry?
df[df['gender'] == 'female'].groupby('major').count()

           student_id  gender  admitted
major
Chemistry         226     226       226
Physics            31      31        31

In [35]:
226/257

0.8793774319066148

In [36]:
# What proportion of male students are majoring in chemistry?
df[df['gender'] == 'male'].groupby('major').count()

           student_id  gender  admitted
major
Chemistry          18      18        18
Physics           225     225       225

In [37]:
18/243

0.07407407407407407

In [38]:
# Admission rate for female chemistry majors
df[(df['gender'] == 'female') & (df['major'] == 'Chemistry')].groupby('admitted').count()

          student_id  gender  major
admitted
False            175     175    175
True              51      51     51

In [39]:
51/226

0.22566371681415928

In [40]:
# Admission rate for male chemistry majors
df[(df['gender'] == 'male') & (df['major'] == 'Chemistry')].groupby('admitted').count()

          student_id  gender  major
admitted
False             16      16     16
True               2       2      2

In [41]:
2/18

0.1111111111111111

### Admission rate for each major

In [ ]:
# Admission rate for physics majors
df[df['major'] == 'Physics'].groupby('admitted').count()

In [43]:
139/(117+139)

0.54296875

In [44]:
# Admission rate for chemistry majors
df[df['major'] == 'Chemistry'].groupby('admitted').count()

          student_id  gender  major
admitted
False            191     191    191
True              53      53     53

In [45]:
53/(191+53)

0.21721311475409835